
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body {
    /* */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    

    /*imagem de fundo*/
    background-image: url(./imagens/fundo-login.webp) ;
    background-size:cover;
    background-position: center;
   

}

.login {
    
    /*bloco branco*/
    align-items: center;
    background-color: rgba(255, 254, 254, 0.768);
    width: 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
    

}

.container {

    margin-top: 200px;

}


h1{
    font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    
}

input {

    font-family:Helvetica, sans-serif, arial;
    display: flex;
    font-size: 25px;
    margin: 15px auto;
    border-radius: 15px;

}

button {
    display: flex;
    font-size: 20px;
    margin: 25px auto;

    border-radius: 20px;
    border: none;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.572);
    color:white;
    cursor: pointer;
}

